<!-- Top nav bar (fixed) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">
    <i class="fas fa-user-secret"></i>
    OUTFIT
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="page-redirect">
        <li class="nav-item">
          <a class="nav-link" href="#nike">Nike</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#supreme">Supreme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chanel">Chanel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gucci">Gucci</a>
        </li>
      </div>
      <div class="side-pages">
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <% if(user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
        <% } else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
        <% } %>
      </div>
    </ul>
  </div>
</nav>
