.contact-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 350px;

}
.contact-form h1 {
  font-family: 'Rampart One', cursive;
}

.submit-button {
  margin-bottom: 40px;
}

.body-section {
background-color: #f2f2f2;
}


