.item-listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.collection-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

.collection-title {
  width: 200px;
  font-size: 1.5em;
  font-weight: bold;
}

#nike .collection-image {
  height: 100px;
  width: 250px;
}

#supreme .collection-image {
  height: 80px;
  width: 250px;
}

#chanel .collection-image {
  height: 100px;
  width: 175px;
}

#gucci .collection-image {
  height: 140px;
  width: 140px;
}

.collection-buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-left: 80px;
}

.button-scroller {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 30px;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: #c5f1ff;
}

.button-scroller:hover {
  border-color: #77dfff;
  background-color: #77dfff;
}

.button-scroller:active {
  border-color: #00c3ff;
  background-color: #00c3ff;
}

.scrolling-box {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 400px;
  margin: 10px;
}

.item-image {
  height: 400px;
  width: 400px;
}

.item-details {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.item-name {
  width: 250px;
  font-weight: bold;
  word-wrap: break-word;
}

.item-price {
  display: flex;
  justify-content: flex-end;
  width: 125px;
  padding-right: 20px;
}

.item-description {
  width: 380px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #807f7f;
  word-wrap: break-word;
}

.item-post-time {
  color: #807f7f;
  font-size: 0.8em;
}

.item-delete {
  width: 75px;
  margin-top: 10px;
}
