.create-listing-form h1 {
  font-family: 'Rampart One', cursive;
  margin-bottom: 50px;
}

.create-listing-form {
  margin-left:200px;

}

#create-new-listing label {
  font-family: 'Staatliches', cursive;
  margin-left: 10px;
  font-size: larger;
}

#create-new-listing button {
  font-family: 'Staatliches', cursive;
  font-size: larger;
  margin-left:10px;
}
